{{ ansible_managed | comment }}
{% for domain in podman_mailserver_domains %}
{% if domain.send_bans is defined %}
{% for ban in domain.send_bans %}
{{ ban }} REJECT Sender blocked
{% endfor %}
{% endif %}
{% endfor %}
