# additional config for dovecot local.cf

# let the server handle cipher order
ssl_prefer_server_ciphers = yes

# allow multiple connections for same user
mail_max_userip_connections = 100

# IMPORTANT, KEEP A NEW LINE AT THE END OF THIS FILE.
