# Managed by Ansible
# https://github.com/tomav/docker-mailserver/wiki/Configure-Accounts

{% for mailserver in mailserver_domains %}
# accounts of {{ mailserver.domain }}
{% for account in mailserver.accounts %}
{{ account.username }}@{{ mailserver.domain }}|{BLF-CRYPT}{{ account.bcrypt_password }}:5000:5000::/var/mail/{{ mailserver.domain }}/{{ account.username }}::userdb_quota_rule=*:bytes=10M
{% endfor %}

{% endfor %}

# IMPORTANT, KEEP A NEW LINE AT THE END OF THIS FILE.
