# Managed by Ansible
# aliases regexp https://github.com/tomav/docker-mailserver/wiki/Configure-Aliases
{% for mailserver in mailserver_domains %}
# aliases for {{ mailserver.domain }}
{% for alias in mailserver.aliases_regexp %}
{{ alias.regexp }} {{ alias.to }}
{% endfor %}

{% endfor %}