# {{ ansible_managed }}
[Unit]
Description=Check and notify on public IP changes
After=network-online.target
Wants=network-online.target
OnFailure=notify-ip-failure-notify@%n.service

[Service]
Type=oneshot
ExecStart={{ notify_change_ip_directory }}/notify-ip-change.sh
StandardOutput=append:{{ notify_change_ip_log_file }}
StandardError=append:{{ notify_change_ip_log_file }}

# Hardening
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths={{ notify_change_ip_directory }} /var/spool/postfix
PrivateTmp=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectHostname=true
ProtectClock=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
LockPersonality=true
