[submodule "roles/minisign"]
	url = git@gitlab.com:youtous/ansible-minisign.git
[submodule "roles/docker_configs_secrets_cleaner"]
	url = git@github.com:youtous/ansible-docker-configs-secrets-cleaner.git
