[submodule "roles/docker-configs-secrets-cleaner"]
	url = https://gitlab.com/youtous/ansible-docker-configs-secrets-cleaner.git
[submodule "roles/minisign"]
	url = https://gitlab.com/youtous/ansible-minisign.git
