[defaults]
vault_password_file = .vault_password
collections_path = ./collections
callbacks_enabled = timer, profile_tasks, profile_roles
forks = 10
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .cache/ansible_facts
fact_caching_timeout = 3600
retry_files_enabled = false
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = true
become_method = sudo
