[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jmespath = "*"
molecule = "*"
molecule-podman = "*"
ansible = "8"
ansible-lint = "*"
molecule-docker = "*"
pre-commit = "*"

[dev-packages]
black = "*"
