[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.13"

[packages]
ansible = "~=11.0"
ansible-lint = "~=25.0"
pre-commit = "*"
jmespath = "*"
jc = "*"
netaddr = "*"

[dev-packages]
