[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jmespath = "*"
molecule = "*"
molecule-podman = "*"
ansible = "<6"
molecule-docker = "*"

[dev-packages]

[requires]
python_version = "3.10"
