
# System load checking
check system {{ hostname }}
    if loadavg (5min) > {{ monit_load_avg_5min_alert }} for 5 cycles then alert
    if loadavg (15min) > {{ monit_load_avg_15min_alert }} for 5 cycles then alert
    if memory usage > {{ monit_memory_usage_alert }} for 5 cycles then alert
    if swap usage > {{ monit_swap_usage_alert }} for 5 cycles then alert
    if cpu usage (user) > {{ monit_cpu_user_usage_alert }} for 5 cycles then alert
    if cpu usage (system) > {{ monit_cpu_system_usage_alert }} for 5 cycles then alert
    if cpu usage (wait) > {{ monit_cpu_wait_usage_alert }} for 5 cycles then alert


# Filesystems
{% for fs in monit_all_filesystems %}
{% if fs.mnt in mounted_devices_path %}
check filesystem {{ fs.mnt|replace('/','') }}fs with path {{ fs.mnt }}
{% for fs_usage_alert in fs.usage_alerts %}
    if space usage > {{ fs_usage_alert }} then alert
{% endfor %}
{% endif %}
{% endfor %}

