
# System load checking
check system {{ hostname }}
    if loadavg (5min) > 3 for 4 cycles then alert
    if loadavg (15min) > 1 for 4 cycles then alert
    if memory usage > 80% for 4 cycles then alert
    if swap usage > 20% for 4 cycles then alert
    if cpu usage (user) > 80% for 4 cycles then alert
    if cpu usage (system) > 20% for 4 cycles then alert
    if cpu usage (wait) > 20% for 4 cycles then alert


# Filesystems
{% if "/" in mounted_devices_path %}
check filesystem rootfs with path /
    if space usage > 90% then alert
{% endif %}

{% if "/var" in mounted_devices_path %}
check filesystem varfs with path /var/
    if space usage > 90% then alert
{% endif %}

{% if "/home" in mounted_devices_path %}
check filesystem homefs with path /home/
    if space usage > 90% then alert
{% endif %}

{% if "/data" in mounted_devices_path %}
check filesystem datafs with path /data/
    if space usage > 90% then alert
{% endif %}

