{% if ssh_entrypoints|length > 0 %}

{% for host_ssh_allowed in ssh_entrypoints %}
sshd : {{ host_ssh_allowed }} : allow
{% endfor %}

# allow localhost interfaces
sshd : localhost : allow
sshd : 127.0.0.1 : allow
sshd : ip6-localhost : allow
sshd : ::1 : allow

sshd : ALL : deny
{% endif %}