###############################################################################
## Monit control file
###############################################################################
##
## Comments begin with a '#' and extend through the end of the line. Keywords
## are case insensitive. All path's MUST BE FULLY QUALIFIED, starting with '/'.
##
## Below you will find examples of some frequently used statements. For
## information about the control file and a complete list of statements and
## options, please have a look in the Monit manual.
##
##
###############################################################################
## Global section
###############################################################################

set daemon {{ monit_poll_period }}
{% if monit_poll_start_delay is defined %}
  with start delay {{ monit_poll_start_delay }}
{% endif %}

set logfile {{ monit_logfile }}

set idfile /var/lib/monit/id

set statefile /var/lib/monit/state

{% if monit_email_enable -%}
set mailserver {{ monit_mailserver_host }}{% if monit_mailserver_port is defined and monit_mailserver_port|length %} port {{ monit_mailserver_port }}{% endif %}

{% if monit_mailserver_username is defined and monit_mailserver_username|length %}
    username "{{ monit_mailserver_username }}"
{% endif %}
{% if monit_mailserver_password is defined and monit_mailserver_password|length %}
    password "{{ monit_mailserver_password }}"
{% endif %}
{% if monit_mailserver_host != 'localhost' %}
    using {{ monit_mailserver_encryption|default('tls') }}
{% endif %}
{% if monit_mailserver_timeout is defined and monit_mailserver_timeout|length %}
    with timeout {{ monit_mailserver_timeout }} seconds
{% endif %}

{% if monit_eventqueue_enable -%}
set eventqueue
  basedir {{ monit_eventqueue_directory }}
  slots {{ monit_eventqueue_slots | default('100') }}
{% endif -%}

set mail-format {
  from: {{ monit_mailformat_from }}
  subject: {{ monit_mailformat_subject }}
  message: {{ monit_mailformat_message }}
}

{% if monit_notify_email is string %}
set alert {{ monit_notify_email }} NOT ON { action, instance, pid, ppid }
{% else %}
  {% for email in monit_notify_email %}
set alert {{ email }} NOT ON { action, instance, pid, ppid }
  {% endfor %}
{% endif %}
{% endif -%}

set httpd port {{ monit_port }}
{% if monit_address is defined %}
    use address {{ monit_address }}
{% endif %}
{% for a in monit_allow %}
    allow {{a}}
{% endfor %}
{% if monit_ssl %}  ssl enable
  pemfile {{ monit_cert }}
{% endif %}


include /etc/monit/conf.d/*
