###########################
#        Blacklist        #
###########################

## Rules for name-based query blocking, one per line

# Ansible managed file

{% for ip in dnscrypt_blocked_names %}
{{ ip }}
{% endfor %}
