[Interface]
Address = {{ wireguard_server_address|join(', ') }}
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ wireguard_server_private_key }}

{% if wireguard_server_dns is defined and (wireguard_server_dns|length > 0)  %}
DNS = {{ wireguard_server_dns|join(', ') }}
{% endif %}

{% for peer in wireguard_server_peers %}
[Peer]
# Peer {{ peer.name }}
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.preshared_key }}
AllowedIPs = {{ peer.allowed_ips|join(', ') }}
Endpoint = {{ peer.endpoint }}
{% endfor %}