# System-wide ssh client configuration. See ssh_config(5).

Host *
    Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
    MACs umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication no
    ForwardAgent no
    ForwardX11 no
