{% if ssh_entrypoints|length > 0 %}

{% for host_ssh_allowed in ssh_entrypoints %}
sshd : {{ host_ssh_allowed }} : allow
{% endfor %}

# allow localhost interfaces
{% for host_ssh_allowed in ssh_entrypoints_local_interfaces %}
sshd : {{ host_ssh_allowed }} : allow
{% endfor %}

sshd : ALL : deny
{% endif %}
