# from https://wiki.debian-fr.xyz/Monit

check program journalbeat with path "/bin/systemctl is-active --quiet journalbeat.service"
  if status != 0 then alert
  start program = "/bin/systemctl start journalbeat.service"
  stop  program = "/bin/systemctl stop journalbeat.service"
  if 5 restarts within 5 cycles then timeout
