# Ansible managed
{% if mariadb_ssl_enabled %}

[mysqld]
ssl = on

tls_version = {{ mariadb_tls_version|join(',') }}

# certificates
ssl-ca = /etc/mysql/ca.pem
ssl-cert = /etc/mysql/server-cert.pem
ssl-key = /etc/mysql/server-key.pem

{% else %}

[mysqld]
ssl = off

{% endif %}
