# from https://wiki.debian-fr.xyz/Monit#postfix

check process postfix with pidfile /var/spool/postfix/pid/master.pid
  group mail
  start program = "/bin/systemctl start postfix"
  stop  program = "/bin/systemctl stop postfix"
  if failed host localhost port {{ postfix_smtp_port|default('25') }} protocol smtp then restart
  if 5 restarts within 5 cycles then timeout
